/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
html{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #222;
}
body{
    margin: 0;
    height: 100%;
    background-color: #eee;
}
a{
    text-decoration: none;
    color: #222;
    font-family: 'SCDream',sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    margin-top: 0;
}
header{
    border: 1px solid #ccc;
    background-color: #fff;
    height: 60px;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
}
section{
    height: calc(100vh - 60px);
    position: relative;
}
.login{
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-type{}
.login-type h1{
    font-size: 38px;
    text-align: center;
}
.btn{
    display: block;
    border: 1px solid lightgray;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 1.6em;
    color: #fff;
    opacity: 0.8;
    transition: .2s;
}
.btn:hover{
    opacity: 1;
}
.btn:nth-of-type(1){
    background-color: #fff;
    color: #222;
    background-image: url('../img/logo-mobile.png');
    background-repeat: no-repeat;
    background-position: center left 13px;
}
.btn:nth-of-type(2){
    background: #898c9b url('../img/logo-email.png') no-repeat center left 15px;
}
.btn:nth-of-type(3){
    background: #11ce00 url('../img/logo-naver.png') no-repeat center left 15px;
}
.btn:nth-of-type(4){
    background: #0076fe url('../img/logo-facebook.png') no-repeat center left 15px;
}
.btn:nth-of-type(5){
    background: #00c026 url('../img/logo-line.png') no-repeat center left 10px;
}
.login-type a{}
.or-text{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}
.or-text::after,.or-text::before{
    content: '';
    background-color: lightgray;
    height: 1px;
    width: 45%;
    position: absolute;
    top: 50%;
}
.or-text::before{
    left: 0;
}
.or-text::after{
    right: 0;

}
.login-footer{}
.login-footer p{
    text-align: center;
}
.login-footer p a{
    font-weight: 600;
}
.login-footer p a:hover{
    text-decoration: underline;
}